@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(143, 95, 56);
}

.container {
    margin: 0 auto;
    max-width: 75%;
}

.viewcontainer {
    display: flex;
    justify-content: space-around;
}

.header {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 5rem;
    color: rgb(232, 195, 177);
    margin-bottom: 0.5rem;
}

.bar {
    width: 100%;
    border-radius: 10%;
    color: rgb(232, 195, 177);
    margin-bottom: 2rem;
}

.left {
    display: flex;
    flex-direction: column;
    
}

.info {
    color: rgb(232, 195, 177);
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.highlight {
    color: rgb(244, 129, 71);
}

.picture {
    width: 400px;
    height: auto;
}

.api {
    font-style: italic;
    color: rgb(232, 195, 177) !important; 
}

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .viewcontainer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .info {
        margin-bottom: 2rem !important;
        font-size: 1.5rem !important;
    }

    .picture {
        width: 300px !important;
    }

    .copyright {
        font-size: 0.8rem;
    }
}
 
